<a href="https://colab.research.google.com/github/Gurpreetkaur977/Gurpreet/blob/main/Copy_of_gurpreet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Assignment **1**

## 1.Create variables to store your name (string), age (integer), and course (string). Print all of them using a single print() statement.

In [ ]:
name="gurpreet kaur"
age=19
course="b.Tech"
print(name,age,course)

gurpreet kaur 19 b.Tech

###  2.Write a program to swap two numbers without using a third variable. Example: a = 4, b = 9.

In [ ]:
a=4
b=9
a,b=b,a
print(a,b)

9 4

### 3.Take two numbers from the user and display:
• Sum
• Difference
• Product
• Quotient
• Remainder

In [ ]:
a=12
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

16
8
48
3.0
0

#### 4.Take marks of 5 subjects and calculate the total and percentage

In [ ]:
english=80
punjabi=80
maths=79
science=79
hindi=80
total=english+punjabi+maths+science+hindi
print(total/400*100)

99.5

### 5.Start with x = 10. Then:
• Add 5 using +=
• Multiply by 2 using *=
• Subtract 4 using -=
• Divide by 2 using /=
Print the value after each operation.

In [ ]:
x=10
x+=2
print(x)
x=10
x*=2
print(x)
x=10
x-=4
print(x)
x=10
x/=2
print(x)

12
20
6
5.0

### 6.Write a program that compares two numbers and prints:
• Whether they are equal
• Whether the first is greater
• Whether the second is greater

In [ ]:
a=24
b=18
print(a==b)
print(a>b)
print(a<b)

False
True
False

#### 7.Write a program that compares two numbers and prints:
• Whether they are equal
• Whether the first is greater
• Whether the second is greater

In [ ]:
is_raining= True
have_umbrella=False
print(is_raining and have_umbrella)
print(is_raining or have_umbrella)

False
True

### 8.Create two identical lists and compare them using:
• ==
• is
Print and explain the result.

In [ ]:
l1=[12,45,56,34,15]
l2=[12,45,56,34,15]
print(l1==l2)
print(l1 is l2)

True
False

### 9.Take two numbers and show the result of:
• Bitwise AND (&)
• Bitwise OR (|)
• Bitwise XOR (^)

In [ ]:
n1=1011
n2=1110
print(n1 & n2)
print(n1 | n2)
print(n1 ^ n2)

82
2039
1957

#### 10.Take user input for an integer and a float. Add them and print:
• Their types using type()
• Their sum as an integer

In [ ]:
a=5
n=float(a)
print(n)
print(type(n))

5.0
<class 'float'>

##Assignment 2

## 1. WAP to print number 1 to 10 but stop the loop when number reach 9

In [ ]:
count=0
while (count<10):
  print(count)
  count=count+1

0
1
2
3
4
5
6
7
8
9

## 2.WAP that keep asking the user to enter the number and stop when the user enter a negative number

In [ ]:
while True:
  r=int(input("enter the number="))
  if (r>0):
    print("number is positive")
  else:
    print("number is negative")
    break

enter the number=67
number is positive
enter the number=-6
number is negative

3.WAP to find first even number in a list using a for loop and break

In [ ]:
L=[1,3,5,6,3,78,89,88,78,76,99,55,33]
for i in range (len(L)):
  if (L[i]%2==0):
    print("first even number is ",L[i])
    break

first even number is  6

## 4. keep adding number onwords until total sum exceeds 25 print last sum and digit

In [ ]:
sum=0
for i in range(0,50):
  sum+=i
  if sum<25:
    print("last sum=",sum)
    print("last digit =",i)

last sum= 0
last digit = 0
last sum= 1
last digit = 1
last sum= 3
last digit = 2
last sum= 6
last digit = 3
last sum= 10
last digit = 4
last sum= 15
last digit = 5
last sum= 21
last digit = 6

## 5.keep asking the user to guess the password until they guess admin123 . use while and break

In [ ]:
while True:
  x=input("enter the password:")
  if (x=="admin123"):
    print("correct pass")
    break
  else:
    print("wrong pass")

enter the password:6785
wrong pass
enter the password:admin123
correct pass